@font-face {
    font-family: "sevenSegment";
    src: url("/assets/fonts/clock.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto.ttf");
}
@font-face {
    font-family: "wii";
    src: url("/assets/fonts/wii.ttf");
}


body{
    margin: 0;
    background-color: black;
    min-height: 100dvh;
    overflow: hidden;
    container-type: size;
}

.scrollTrack svg, .arrowWrap svg{
    pointer-events: none;
}

.screen{
    position: relative;
    min-height: 100dvh;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    container-type: size;
}

.reference{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-image: url("/assets/imgs/WiiMenu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wiiGrid{
    background: repeating-linear-gradient(
        to bottom,
        rgb(248, 248, 248) 0px 2.5px,
        rgb(234, 234, 234) 2.5px 5px
    );
    
    position: relative;
    aspect-ratio: 16 / 9;
    width: min(100dvw, calc(100dvh * 16 / 9));
    display: grid;
    grid-template: 1fr .385fr / 1fr;
    container-type: size;
}
.wiiGrid::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(0.5px);
}

.cursorP1{
    width: 7.5cqh;
    height: 7.5cqh;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.25s;
    pointer-events: none;

    background-image: url("/assets/svgs/cursors/cursorP1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.topWrapper {
    margin-top: 4cqh;
    z-index: 3;
    container-type: size;
    position: relative;
}
.topWrapper::-webkit-scrollbar {
    display: none;
}

.gameTitleWrapper{
    position: absolute;
    height: 10cqh;
    border-radius: 100cqmax;
    background-color: rgb(252, 252, 252);
    /* border: solid 0.6cqmin rgb(180, 180, 180); */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
    /* padding: 0 10cqmin; */
    padding: 0.75cqh clamp(2cqw, 4cqw, 10cqw);
}

.gameTitle{
    font-family: "Roboto";
    font-weight: 450;
    font-size: 5.75cqmin;
    color: #696969;
    text-align: center;
}

.scrollTrack{
    height: 100%;
    container-type: size;
    display: flex;
    place-items: center;
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
}

.gameGrid{
    display: grid;
    grid-template: repeat(3, 32.5cqh) / repeat(4, 21.07cqw);
    place-items: center;
}
.P1{
    margin-left: 7.85cqw;
}
.P3{
    margin-right: 7.85cqw;
}

.game{
    width: 21.07cqw;
    height: 32.5cqh;
    aspect-ratio: 16 / 9;
}


.arrowWrap{
    position: absolute;
    top: 41cqh;
    left: 3cqw;
    height: 17.5cqh;
    aspect-ratio: 0.6 / 1;
    z-index: 2;
    overflow: visible;
    display: flex;
    align-items: center;
    animation: arrowReverse 1.5s infinite;
}
.arrowWrapR {
    left: 92cqw;
    animation: arrowDefault 1.5s infinite;
}

.arrow{
    position: absolute;
    height: 17.5cqh;
}

.arrowBtn{
    position: absolute;
    z-index: 1;
    left: 1.9cqw;
    height: 22.5cqh;
    transform-origin: center left;
    transform: scale(0);
}
.arrowPlus{
    left: -5.5cqw;
    transform-origin: center right;
}

.arrowBtnClick{
    animation: arrowClick 0.2s 1 forwards;
}
.arrowBtn:hover{
    animation: arrowClick 0.2s 1 forwards;
}
.arrowWrap:hover .arrow{
    animation: hoverSquash 0.2s 1 forwards;
}
.arrowWrap:hover .arrowBtn{
    animation: plusShow 0.1s ease-in-out 0.1s 1 forwards;
}
.arrowWrap:not(:hover) .arrowBtn{
    animation: plusHide 0.2s ease-in-out 1 forwards;
}
.arrowWrap:not(:hover) .arrow{
    animation: unhoverSquash 0.2s 0.1s 1 forwards;
}

@keyframes arrowDefault {
    0%   { transform: translateX(0cqmin); }
    35%  { transform: translateX(1.5cqmin); }
    100% { transform: translateX(0cqmin); }
}
@keyframes arrowReverse {
    0%   { transform: translateX(0cqmin); }
    35%  { transform: translateX(-1.5cqmin); }
    100% { transform: translateX(0cqmin); }
}
/* @keyframes arrowClick {
    0%{ filter: brightness(1); }
    50% { filter: brightness(6); }
    100% { filter: brightness(1); }
} */
@keyframes arrowClick {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
@keyframes hoverSquash {
    0%   { transform: scale(1); }
    35%  { transform: scale(0.75, 0.25); }
    100% { transform: scale(1); }
}
@keyframes unhoverSquash {
    0% { transform: scale(1); }
    35% { transform: scale(0.25, 0.75); }
    100% { transform: scale(1); }
}
@keyframes plusShow {
    0%   { transform: scale(0); }
    30%  { transform: scale(0.5, 1); }
    100% { transform: scale(1.25); }
}
@keyframes plusHide {
    0%   { transform: scale(1.25); }
    30%  { transform: scale(0.5, 1); }
    100% { transform: scale(0); }
}


.bottomBar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    z-index: 1;
}

.clock{
    height: fit-content;
    font-family: "sevenSegment";
    font-size: 11cqmin;
    line-height: 0.99;
    letter-spacing: -0.2cqmin;
    color: #9d9d9d;
    margin-left: 9cqmin;
    user-select: none;
}

.dayNight{
    height: fit-content;
    font-family: "Roboto";
    font-size: 4cqmin;
    font-weight: 700;
    color: #9d9d9d;
    margin-top: 4.5cqmin;
    margin-left: 2.5cqmin;
    user-select: none;
}

.date{
    font-family: "Roboto";
    font-size: 7.5cqmin;
    font-weight: 700;
    flex-basis: 100%;
    color: #79797a;
    text-align: center;
    margin-top: 1cqmin;
    z-index: 1;
    user-select: none;
}

.menu{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 1fr / 0.24fr 1fr 0.24fr;
}

.menuBG{
    position: absolute;
}

.settingsBtnSVG{
    scale: 0.6;
    width: 30cqmin;
    aspect-ratio: 1 / 1;
    transform: translateY(-1.5cqw);
    filter: drop-shadow(2cqw 2cqh 5px rgba(0, 0, 0, 0.1));
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
    z-index: 1;
}
.settingsBtnSVG:hover {
    transform: scale(1.1) translateY(-1.5cqw);
}

.settingsBtnSVGRight {
    grid-area: 1 / 3;
    justify-self: start;
}